.navbar-nav {
    display: flex;
    margin-left: 40px;
    justify-content: space-between;
    width: 25%;
}

.navbar {
    flex: 0 0 auto;
    height: 70px;
    box-shadow: 0px 1px 10px #eaeaea;
}

.nav-item {
    opacity: 1;
    font-size: 20px;
}

.navbar-brand {
    font-size: 25px;
}